@font-face {
  font-family: 'RecessFont';
  src: url('recess.ttf');
}

@font-face {
    font-family: 'ITCErasStdMedium';
    src: url('ITCErasStdMedium.otf');
  }
  
@font-face {
    font-family: 'OratorStd';
    src: url('OratorStd.otf');
  }  

@font-face {
    font-family: 'OCRAStd';
    src: url('OCRAStd.otf');
  } 
  
@font-face {
    font-family: 'Miriam Libre Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Miriam Libre Regular'), url('MiriamLibre-Regular.woff') format('woff');
    }
    

@font-face {
    font-family: 'Miriam Libre Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miriam Libre Bold'), url('MiriamLibre-Bold.woff') format('woff');
    }

body {
    font-family: 'RecessFont';
    font-size: 40px;
    background-image: url("../images/ella_space.jpg");
    color: white;
    background-color: black;
    background-position: top-left; /* This starts the image from the left */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-attachment: fixed;
    background-size: cover !important;
}

td {
    font-family: 'Miriam Libre Regular', serif;
    font-size: 20px;
}

table {
    width:80%;
}

td {
    text-align: left;
    vertical-align: top;
}

td.image {
  vertical-align: middle;
}


.logo {
  width: 280px;
  padding-left: 30px;
  padding-top: 30px;
  position: relative; 
  z-index: 3;
}

.logo-back {
  width: 8vw;
  padding-left: 8px;
  padding-top: 10px;
  position: relative; 
  z-index: 3;
}

.back-button-container {
    position: fixed; /* Make it stick/fixed on top left */
    top: 0;
    left: 0;
    margin: 10px; /* Optional: add some spacing from the edges */
  }

  a {
    color: skyblue;
  }

  .iframe-container {
    display: flex;
    align-items: center;
    height: 100%;
}

